{% extends "layout.html" %}

{% block title %}Chat{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="css/chat.css">
  <link rel="stylesheet" href="emojione/emojione.min.css">
{% endblock %}

{% block scriptsLib %}
  <script src="/socket.io/socket.io.js"></script>
  <script src="socket.io-file-client.js"></script>

  <script src="moment/moment.min.js"></script>
  <script src="emojione/emojione.min.js"></script>
{% endblock %}
{% block scripts %}
  <script src="js/chat.js"></script>
{% endblock %}

{% block body %}
<input type="hidden" value="{{ user.id }}" id="connected-user">
<div style="display: none;">
    <input type="file" id="upload-file-input" multiple>
</div>

<div class="chat-app">
  <div class="chat-container">

    <div class="chat-part">

      <div class="card" id="chat-card">
        <div class="card-content">
          <span class="card-title">
            <!-- Jane Doe -->
          </span>
          <p class="connection-status">
            <!-- Currently Online -->
          </p>
          <!-- right menu -->
          <a href="javascript:;" id="add-group-action" class="chat-action btn-floating blue hide" style="right: 24px;" title="Add other users to this conversation">
            <i class="material-icons">group_add</i>
          </a>
        </div>

        <div class="card-content chat-content custom-scrollbar">
            <div class="add-group-container z-depth-1 hide">
                <!-- Customizable input  -->
                <div class="chips chips-placeholder chips-autocomplete">
                  <input class="custom-class">
                </div>
                <a class="waves-effect waves-light btn blue" id="add-users-btn">
                  Add
                  <i class="material-icons left">add</i>
                </a>
              </div>
          <div class="chat-wrapper">
            
          </div>
        </div>

        <div class="chat-input">
          <form action="" id="message-form">
            <div class="chat-input-bar">
              <div id="message-attachments">
                <ul class="message-attachments-list custom-scrollbar-horizontal">
                </ul>
              </div>
              
              <div id="message-input" class="editable custom-scrollbar" contenteditable="true" placeholder='Write a message...'></div>

              <div class="chat-input-actions">
                <a href="javascript:;" id="upload-file" class="chat-input-action btn-floating blue" title="Upload file">
                  <i class="material-icons">attach_file</i>
                </a>

                <a href="javascript:;" id="send-message" class="chat-input-action btn-floating blue" title="Send message">
                  <i class="material-icons">send</i>
                </a>
              </div>
            </div>
          </form>
        </div>
      </div>

    </div>

    <div class="chat-part">

      <div class="card">
        <div class="card-content">
          <span class="card-title">Friends</span>
          <!-- <p>12 Friends online</p> -->
        </div>
        <ul class="collection flush custom-scrollbar" id="channels-list">
        </ul>
      </div>

    </div>

  </div>

</div>
{% endblock %}
